.AboutPage {
  align-content: center;
}

.AboutPage img {
  object-fit: cover;
  height: 600px;
  width: 95%;
  margin-top: 20px;
}

.AboutPage section {
  background-color: #dee;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: inline-block;
  max-width: 90%;
  padding: 40px;
  margin: 30px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.AboutPage section:hover {
  transform: translateY(-10px); /* Moves the tile up */
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); 
}

.AboutPage .opener {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(13, 1, 1, 0.1);
  display: inline-block;
  max-width: 90%;
  padding: 40px;
  margin: 20px;
  margin-top: -400px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.AboutPage .opener:hover {
  transform: translateY(-10px); /* Moves the tile up */
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); 
}


  