.AboutPage {
  align-content: center;
}

.AboutPage img {
  height: 400px;
  width: 95%;
  margin-top: 20px;
}

.AboutPage section {
  background-color: #dee;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: inline-block;
  max-width: 90%;
  padding: 40px;
  margin: 30px;
}

.AboutPage .opener {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: inline-block;
  max-width: 90%;
  padding: 40px;
  margin: 20px;
}


  