.ConsularServices {
  align-content: center;
}

.ConsularServices h1 {
  font-size: 2em;
  color: #333333;
}

.ConsularServices img {
  height: 400px;
  width: 95%;
  margin-top: 20px;
}

.ConsularServices section {
  background-color: #dee;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: inline-block;
  max-width: 90%;
  padding: 40px;
  margin: 30px;
}

.ConsularServices .opener {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: inline-block;
  max-width: 90%;
  padding: 40px;
  margin: 20px;
}



.ConsularServices a {
  color: #1E49A6;
  text-decoration: none;
}

.ConsularServices a:hover {
  text-decoration: underline;
}

.ConsularServices ul {
  list-style-type: none;
  padding: 0;
}

.ConsularServices li {
  margin-bottom: 10px;
}

