.ConsularServices {
  align-content: center;
}

.background {
  background-size: cover;
  background-position: center;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.5); /* Darkening effect */
}

.ConsularServices h1 {
  font-size: 2em;
  color: #333333;
}

.ConsularServices img {
  object-fit: cover;
  height: 550px;
  width: 95%;
  margin-top: 20px;
  border-radius: 12px;
}

.ConsularServices section {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: inline-block;
  max-width: 90%;
  padding: 40px;
  margin: 30px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.ConsularServices section:hover {
  transform: translateY(-10px); /* Moves the tile up */
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); 
}

.ConsularServices .opener {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: inline-block;
  max-width: 80%;
  padding: 40px;
  margin: 10px;
  margin-top: -400px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.ConsularServices .opener:hover {
  transform: translateY(-10px); /* Moves the tile up */
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); 
}



.ConsularServices a {
  color: #ecf0f1;
  text-decoration: none;
}

.ConsularServices a:hover {
  text-decoration: underline;
}

.ConsularServices ul {
  list-style-type: none;
  padding: 0;
}

.ConsularServices li {
  margin-bottom: 10px;
}


/* ... existing styles ... */

.button-text {
  background-color:azure;
}

.button {
  background-color: #34495e; /* Dark Blue from footer */
  color: #ecf0f1; /* Light text color from footer */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Arial', sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
  margin: 10px 2px;
}

.button:hover {
  background-color: rgb(43, 61, 80); /* Slightly darker blue on hover */
  color: #bdc3c7; /* Darker text color on hover */
}
