.ContactPage {
  align-content: center;
}

.background {
  background-size: cover;
  background-position: center;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.5); /* Darkening effect */
}

.ContactPage img {
  object-fit: cover;
  height: 550px;
  width: 95%;
  margin-top: 20px;
  border-radius: 12px;
}

.ContactPage section {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: inline-block;
  max-width: 95%;
  padding: 40px;
  margin: 30px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.ContactPage section:hover {
  transform: translateY(-10px); /* Moves the tile up */
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); 
}

.ContactPage .opener {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: inline-block;
  max-width: 80%;
  width: 60%;
  padding: 40px;
  margin: 20px;
  margin-top: -400px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.ContactPage .opener:hover {
  transform: translateY(-10px); /* Moves the tile up */
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); 
}
