.DiscoverEswatini {
  text-align: center;
}

.DiscoverEswatini img {
  height: 400px;
  width: 95%;
  margin-top: 20px;
}

.DiscoverEswatini p {
  background-color: #dee;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: inline-block;
  max-width: 95%;
  padding: 40px;
}
