@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


.homepage {
  /* background-color: #fff; */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: inline-block;
  max-width: 91%;
}


.home-slider {
  border-radius: 15px;
  object-fit: cover;
  height: 90vh;
  max-width: 100%;
  margin-top: 20px;
  border-radius: 12px;
}



.background {
  background-size: cover;
  background-position: center;
  display: inline-block;
  position: relative; /* Ensure the positioning context is set */
  z-index: 1; /* Keep the background behind other content */
}

.background::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1); /* Adjust the rgba values for different tint colors and opacity */
  /* backdrop-filter: blur(8px);  */
  z-index: -1; 
}

.opener {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: inline-block;
  position: relative;
  max-width: 80%;
  padding: 40px;
  margin: 20px;
  margin-top: -300px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.opener:hover {
  transform: translateY(-10px); /* Moves the tile up */
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); /* Larger shadow for levitating effect */
}

.welcome-message {
  background-color: rgba(255, 255, 255, 0.5);
  align-self: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  max-width: 90%;
  padding: 40px;
  margin: 30px;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.welcome-message:hover {
  transform: translateY(-10px); /* Moves the tile up */
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); /* Larger shadow for levitating effect */
}

.welcome-message h1 {
  font-size: clamp(2.5em, 5em);
  color: #fff;
}

.welcome-message p {
  font-size: 1.2em;
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



.homepage section:hover {
  transform: translateY(-10px); /* Moves the tile up */
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.homepage img {
  width: 100%;
  object-fit: cover;
  position: relative; /* Ensure the image is positioned relative to its container */
  z-index: 1; /* Position the image above the background */
}

section {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  max-width: 90%;
  padding: 40px;
  margin: 30px;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


section:hover {
  transform: translateY(-10px); /* Moves the tile up */
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); /* Larger shadow for levitating effect */
}

.image-container {
  max-width: 100%; /* Adjust based on your preference */
  padding: 10px;
  margin: 20px;
}

.image-container img {
  max-width: 80%;
  height: auto; /* Keeps the aspect ratio of the image */
  object-fit: cover; /* Ensures the image covers the area without stretching */
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-container img:hover {
  max-width: 90%;
  transform: translateY(-10px); /* Moves the tile up */
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); /* Larger shadow for levitating effect */
}

.text-container {
  display: inline-block;
  width: 80%;
  padding: 10px;
}

.text-container h2 {
  margin-bottom: 10px;
}



@media (hover: hover) {
  .opener:hover, .welcome-message:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  }
}


@media (max-width: 740px) {
  /* .homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
  } */

  section {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    padding: 20px;
    margin: 30px;
  }

  .image-container img {
    max-width: 70%;
  }

  .image-container img:hover {
    max-width: 75%;
    transform: translateY(-10px); /* Moves the tile up */
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); /* Larger shadow for levitating effect */
  }

  .opener {
    display: inline-flex;
    flex-direction: column;
    margin-top: -100px;
    max-width: 60%;
  }

  .slider-m {
    display: inline-flex;
    flex-direction: column;
    min-height: 50vh;
    max-width: 85%;
  }
}
