.VisaInformation {
  text-align: center;
  padding: 20px;
}

.VisaInformation img {
  object-fit: cover;
  width: 95%;
  height: 550px;
  margin-top: 20px;
}

.VisaInformation section {
  background-color: #dee;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: inline-block;
  max-width: 90%;
  padding: 40px;
  margin: 30px;
}

.VisaInformation .opener {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: inline-block;
  max-width: 90%;
  padding: 40px;
  margin: 30px;
  margin-top: -400px;
}
  