.footer {
  background-color: #2c3e50;
  color: #ecf0f1;
  padding: 30px 0;
  font-family: 'Arial', sans-serif;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}

.footer-container {
  display: flex;
  justify-content: space-around;
  max-width: 85%;
  margin: 0 auto;
  background-color: #34495e;  /* Slightly darker background for the container */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.footer-container:hover {
  transform: translateY(-10px); /* Moves the tile up */
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); 
  height: auto;
  width: 96%;
}

.footer-column {
  flex: 1;
  padding: 0 20px;
}

.footer-title {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 10px;
}

.footer-links a {
  color: #bdc3c7;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #ecf0f1;
}


.social-icons {
  color: #bdc3c7;
  margin-top: 20px;
}

.social-icon:hover {
  color: #ecf0f1;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
}

.footer-bottom p {
  font-size: 0.8em;
  color: #bdc3c7;
}

.social-icons {
  display: inline-flex;
  gap: 20px; /* Adds space between icons */
}

.footer-bottom {
  display: inline-flex;
  justify-content: space-between;
  gap: 300px;
  align-items: center;
}

.footer-bottom-left, .footer-bottom-right {
  flex: 1;
  margin-left: 30px;
}

/* Responsive adjustments if necessary */
@media (max-width: 768px) {
  .footer-container {
    display: inline-block;
    flex-direction: column;
    width: 100%;
  }

  .footer-bottom {
    display: inline-block;
    flex-direction: column;
    max-width: 90%;
  }

  .footer-column {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: inline-block;
    max-width: 90%;
    padding: 40px;
    margin: 30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .footer-column:hover {
    transform: translateY(-10px); /* Moves the tile up */
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); 
  }
}
